.shop-item-details__title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
  }

.shop-item-details__label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }

.shop-item-details__input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }

.shop-item-details__button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
  }

.shop-item-details__button:hover {
    background-color: #cfd8dc;
  }

.shop-item-details__button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }