<app-navbar class="-sv-chatapp__navbar-container"></app-navbar>

<div class="-sv-chatapp__profile-container">
<div class="-sv-chatapp__profile">
  <div class="-sv-chatapp__profile_content">
    <div class="-sv-chatapp__profile_content-wrapper" *ngIf="user else noPhoto">
      <img class="-sv-chatapp__profile_photo" [src]="user?.photoUrl" alt="profile-pic">
    </div>
  </div>
  <div class="-sv-chatapp__profile_content">
    <div class="-sv-chatapp__profile_content-wrapper -sv-chatapp__profile_name-container">
      {{user?.firstName}} {{user?.lastName}}
    </div>
  </div>
  <div class="-sv-chatapp__profile_content">
    <div class="-sv-chatapp__profile_content-wrapper -sv-chatapp__profile_quote-container">
      <blockquote class="-sv-chatapp__profile_quote-wrapper">
        <p class="-sv-chatapp__profile_quote">
          "{{user?.quote}}"
        </p>
      </blockquote>
    </div>
  </div>
  <div class="-sv-chatapp__profile_content">
    <div class="-sv-chatapp__profile_content-wrapper -sv-chatapp__profile_bio-container">
      {{user?.bio}}
    </div>
  </div>
  <div class="-sv-chatapp__profile_content" *ngIf="user?.id === currentUser?.id">
    <div class="-sv-chatapp__profile_content-wrapper -sv-chatapp__profile_edit-button-container">
      <button class="-sv-chatapp__profile_edit-button" [routerLink]="'/profile/' + currentUser?.id + '/edit'">Edit Profile</button>
    </div>
  </div>
</div>
</div>

<ng-template #noPhoto>
  <div class="-sv-chatapp__profile_content-wrapper -sv-chatapp__profile_no-photo-container">
    No Photo
  </div>
</ng-template>