.about-container{
    display: flex;
}

@media screen and (max-width: 960px) {
    .main__about-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 576px) {
    .main__about-container  {
        flex-direction: column;
    }
}