.-sv-about-bars{
    width: 25%;
    height: 350px;
    padding: 45px 30px 45px 45px;
    box-sizing: border-box;
    background-color: rgb(228, 174, 88);
    color:black;
}

@media screen and (max-width: 1024px) {
    .-sv-main__about-bars {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .-sv-main__about-bars {
        width: 100%;
        height: 100%; 
    }
}

.-sv-about-bars__title{
    font-size: 42px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 16px;
}

.-sv-about-bars__title_text-white{
    color: rgb(255, 252, 230);
}

.-sv-about-bars__subtitle{
    font-size: 16px;
    margin-top: 17px;
    margin-bottom: 24px;
}

.-sv-about-bars__subtitle_text-white{
    color: rgb(253, 239, 199);
}

.-sv-about-bars__name{
    display: flex;
    justify-content: space-between; 
    padding-top: 15px;
    font-size: 14px;
    font-weight: 900;
}

.-sv-about-bars__name_text-white{
    color: rgb(255, 252, 230);
}

.-sv-about-bars__progress-bar{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background-size: auto;
    color: #000;
    width: 100%;
    height: 2px;
}

.-sv-about-bars__progress-bar::-moz-progress-bar{
    background: #000;
}

.-sv-about-bars__progress-bar::-webkit-progress-bar{
    background: #fff;
}

.-sv-about-bars__progress-bar::-webkit-progress-value{
    background: #000;
}