.-sv-about-container__content{
    display: flex;
}

@media screen and (max-width: 1024px) {
    .-sv-about-container__content {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 576px) {
    .-sv-about-container__content {
        flex-direction: column;
    }
}