.card {
    font-family: 'Source Sans';
    background-color: white;
}

.card__image {
    text-align: center;
}

.card__icon {
    font-size: 45px;
    margin: 15px;
}

.card__title {
    font-size: 26px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 15px;
}

.card__description {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.main__cards-container_card {
    width: calc(100% / 4);
    height: 330px;
    padding: 30px 2.5%;
    box-sizing: border-box;
}

@media screen and (max-width: 960px) {
    .main__cards-container_card {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 576px) {
    .main__cards-container_card {
        width: 100%;
    }
}

.card_color-golden {
    background-color: rgb(228, 174, 88);
    color: rgb(255, 252, 230);
}

.card_color-orange {
    background-color: rgb(233, 113, 76);
    color: rgb(255, 252, 230);
}

.card_color-black {
    background-color: black;
    color: rgb(250, 246, 236);
}

.card_color-white {
    background-color: white;
    color: black;
}

.card__description_color-grey{
    color: rgb(168, 158, 158);
}