.-sv-cards-container {
    display: flex;
}

@media screen and (max-width: 1024px) {
    .-sv-main__cards-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 576px) {
    .-sv-main__cards-container  {
        flex-direction: column-reverse;
    }
}