.-sv-contacts-image{
    background-image: url("../Images/contact-img.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;

    width: 25%;
    height: 600px;
    padding: 30px;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
    .-sv-main__contacts-image {
        width: 50%;
    }
}


@media screen and (max-width: 576px) {
    .-sv-main__contacts-image {
        width: 100%;
    }
}