.-sv-educations-container{
    display: flex;
}

@media screen and (max-width: 1024px) {
    .-sv-main__educations-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 576px) {
    .-sv-main__educations-container  {
        flex-direction: column;
    }
}