.logo-container{
    background-image: url('../Images/home-img.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_wrapper__logo-container{
    width: calc(100%/2);
    box-sizing: border-box;
    padding: 40px;
}

.logo-container__logo{
    position: relative;
    font-size: 22px;
    font-weight: bold;
    transform: scale(1.1, 1.0);
    text-shadow: 1px 1px white;
    top: -3.5%;
    left: 25%;
}