@font-face{
    font-family: "Source Sans";
    src: url("../Fonts/SourceSansPro-Regular.otf");
    font-weight: normal;
}

@font-face{
    font-family: "Source Sans";
    src: url("../Fonts/SourceSansPro-Bold.otf");
    font-weight: bold;
}

@font-face{
    font-family: "Source Sans";
    src: url("../Fonts/SourceSansPro-Light.otf");
    font-weight: lighter;
}

@font-face{
    font-family: "Source Sans";
    src: url("../Fonts/SourceSansPro-Regular.otf");
    font-weight: 500;
} 
