<ng-container *ngIf="currentUser.id == message.sender.id else othersMessage">
  <div class="-sv-chatapp__chat_chatroom-message -sv-chatapp__chat_chatroom-my-message">
    <div class="-sv-chatapp__chat_chatroom-message-image-wrapper" [routerLink]="'/profile/' + message.sender.id">
      <img class="-sv-chatapp__chat_chatroom-message-image" [src]="message.sender.photoUrl">
    </div>
    <div class="-sv-chatapp__chat_chatroom-message-text-wrapper">
      <div class="-sv-chatapp__chat_chatroom-message-sender-name-wrapper" [routerLink]="'/profile/' + message.sender.id">
        <span class="-sv-chatapp__chat_chatroom-message-sender-name">{{message.sender.firstName}} {{message.sender.lastName}}</span><span
          class="-sv-chatapp__chat_chatroom-message-timestamp">{{message.createdAt.toDate() | date: 'medium'}}</span>
      </div>
      <div class="-sv-chatapp__chat_chatroom-message-text">
        {{message.message}}
      </div>
    </div>
  </div>
</ng-container>

<ng-template #othersMessage>
  <div class="-sv-chatapp__chat_chatroom-message -sv-chatapp__chat_chatroom-others-message">
    <div class="-sv-chatapp__chat_chatroom-message-image-wrapper" [routerLink]="'/profile/' + message.sender.id">
      <img class="-sv-chatapp__chat_chatroom-message-image" [src]="message.sender.photoUrl">
    </div>
    <div class="-sv-chatapp__chat_chatroom-message-text-wrapper">
      <div class="-sv-chatapp__chat_chatroom-message-sender-name-wrapper" [routerLink]="'/profile/' + message.sender.id">
        <span class="-sv-chatapp__chat_chatroom-message-sender-name name">{{message.sender.firstName}} {{message.sender.lastName}}</span><span
          class="-sv-chatapp__chat_chatroom-message-timestamp timestamp">{{message.createdAt.toDate() | date: 'medium'}}</span>
      </div>
      <div class="-sv-chatapp__chat_chatroom-message-text message">
        {{message.message}}
      </div>
    </div>
  </div>
</ng-template>