@import "../../../../../styles/variables";

.-sv-chatapp__chat_chatroom-title-container {
    padding:  1em 1em 1em 2em;
    border-bottom: 2px solid $grey;
}

.-sv-chatapp__chat_chatroom-title {
    margin: 0.3em 0;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.2;
}

@media (max-width: 576px) {
    .-sv-chatapp__chat_chatroom-title-container {
        padding: 0.5em 1em 0.5em 1em;
    }
}

@media (max-width: 640px) {
    .-sv-chatapp__chat_chatroom-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
    }
}