@import '../styles/variables';

.-sv-chatapp__container {
    color: $secondary;
}

.-sv-chatapp__alert-wrapper {
    position: relative;
}

.-sv-chatapp__alert {
    position: absolute;
    top: 138px;
    width: 100%;
    z-index: 100;
    text-align: center;
}

@media (min-width: 576px) {
    .-sv-chatapp__alert {
        top: 58px;
    }
}