<app-navbar class="-sv-chatapp__navbar-container"></app-navbar>

<div class="-sv-chatapp__signup-container">
  <div class="-sv-chatapp__signup">
    <div class="-sv-chatapp__signup_form-wrapper">
      <div class="-sv-chatapp__signup_title">Sign Up</div>
      <form class="-sv-chatapp__signup_form" [formGroup]="signupForm" (submit)="submit()" novalidate>
        <div class="-sv-chatapp__signup_name-wrapper">
          <div class="-sv-chatapp__signup_form-group -sv-chatapp__signup_firstName">
            <input class="-sv-chatapp__signup_form-control" type="text" id="first-name-input" placeholder="First Name"
              formControlName="firstName" autocomplete="given-name" />
          </div>
          <div class="-sv-chatapp__signup_form-group -sv-chatapp__signup_lastName">
            <input class="-sv-chatapp__signup_form-control" type="text" id="last-name-input" placeholder="Last Name"
              formControlName="lastName" autocomplete="family-name" />
          </div>
        </div>
        <div class="-sv-chatapp__signup_form-group">
          <input class="-sv-chatapp__signup_form-control" type="email" id="email-input" placeholder="Email"
            formControlName="email" autocomplete="email" />
        </div>
        <div class="-sv-chatapp__signup_form-group">
          <input class="-sv-chatapp__signup_form-control" type="password" id="password-input" placeholder="Password"
            formControlName="password" autocomplete="current-password" />
        </div>
        <button class="-sv-chatapp__signup_submit-button" type="submit" [disabled]="!signupForm.valid">Submit</button>
      </form>
      <small><a class="-sv-chatapp__signup_router-link" routerLink="/login">Already have an Account?</a></small>
    </div>
  </div>
</div>