.sv-container_content
{
    margin: 0 auto;
}

.sv-datepicker__body
{
    border: 1px solid black;
    width: 400px;
    padding: 3px;
}

.sv-datepicker__header
{
    display: flex;
    justify-content: space-around;

    padding: 10px 0;

    font-weight: bold;
    font-size: 1.5em;

    background-color: rgb(236, 79, 79);
}

.sv-datepicker_month-user-view
{
    cursor: pointer;
    user-select: none;
}

.sv-datepicker__days-of-week-line
{
    display: flex;
    justify-content: space-around;

    margin: 10px 0;
}

.sv-datepicker__day-of-week
{
    width: 20px;

    padding: 0 3px;

    font-weight: bold;
}

.sv-datepicker__week
{
    display: flex;
    justify-content: space-around;

    margin: 3px 0;
}

.sv-datepicker__day
{
    border: 1px solid black;
    border-radius: 15px;
    background-color: #dddddd;

    width: 20px;
    height: 20px;    
    padding: 2px 4px;

    text-align: center;

    cursor: pointer;
}

.sv-datepicker__other-month-day
{
    background-color: #f1eeee;

    filter: blur(1px);
}

.sv-datepicker__day_today
{
    background-color: #f7ff85;
}

.sv-datepicker__day:hover{
    background-color: darkslateblue;
    color: white;
}

.sv-datepicker__day_choosed
{
    background-color: darkslateblue;
    color: white;
}