<nav class="-sv-chatapp__navbar">
  <div class="-sv-chatapp__navbar_content">
    <span class="-sv-chatapp__navbar_title">ChatApp</span>
    <div class="-sv-chatapp__navbar_page-links">
      <ul class="-sv-chatapp__navbar_link-list" *ngIf="currentUser else loggedOut">
        <li class="-sv-chatapp__navbar_list-item">
          <a [routerLink]="'/profile/' + currentUser.id" routerLinkActive="active"
            class="-sv-chatapp__navbar_link">Profile</a>
        </li>
        <li class="-sv-chatapp__navbar_list-item">
          <a routerLink="/chat" routerLinkActive="active" class="-sv-chatapp__navbar_link">Chat Rooms</a>
        </li>
        <li class="-sv-chatapp__navbar_list-item">
          <a class="-sv-chatapp__navbar_link" (click)="auth.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #loggedOut>
  <ul class="-sv-chatapp__navbar_link-list">
    <li class="-sv-chatapp__navbar_list-item">
      <a routerLink="/login" routerLinkActive="active" class="-sv-chatapp__navbar_link">Login</a>
    </li>
    <li class="-sv-chatapp__navbar_list-item">
      <a routerLink="/signup" routerLinkActive="active" class="-sv-chatapp__navbar_link">Sign Up</a>
    </li>
  </ul>
</ng-template>