<nav class="-sv-chatapp__navbar">
  <div class="-sv-chatapp__navbar_content">
    <span class="-sv-chatapp__navbar_title">ChatApp</span>
    <a class="-sv-chatapp__navbar_link" routerLink="/recorder" routerLinkActive="active">Momentum</a>
    <div class="-sv-chatapp__navbar_page-links">
      <ul class="-sv-chatapp__navbar_link-list" *ngIf="currentUser else loggedOut">
        <li class="-sv-chatapp__navbar_list-item">
          <a class="-sv-chatapp__navbar_link" [routerLink]="'/profile/' + currentUser.id"
            routerLinkActive="active">Profile</a>
        </li>
        <li class="-sv-chatapp__navbar_list-item">
          <a class="-sv-chatapp__navbar_link" routerLink="/chat" routerLinkActive="active">Chat Rooms</a>
        </li>
        <li class="-sv-chatapp__navbar_list-item">
          <a class="-sv-chatapp__navbar_link" (click)="auth.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #loggedOut>
  <ul class="-sv-chatapp__navbar_link-list">
    <li class="-sv-chatapp__navbar_list-item">
      <a class="-sv-chatapp__navbar_link" routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li class="-sv-chatapp__navbar_list-item">
      <a class="-sv-chatapp__navbar_link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
    </li>
  </ul>
</ng-template>