<div class="-sv-chatapp__chat_chatroom-window">
  <ng-container *ngIf="!chatroom else chatMessages">
    <div class="-sv-chatapp__chat_chatroom-initial-message-container">
      <div class="-sv-chatapp__chat_chatroom-initial-message">
        Select a Room
      </div>
    </div>
  </ng-container>
</div>

<ng-template #chatMessages>
  <app-chatroom-title-bar class="-sv-chatapp__chat_chatroom-title-container" [title]="chatroom.name"></app-chatroom-title-bar>
  <div class="-sv-chatapp__chat_chatroom-message-wrapper" #scrollContainer>
    <ng-container *ngIf="messages?.length > 0 else noMessages">
      <ng-container *ngFor="let message of messages">
        <app-chat-message class="-sv-chatapp__chat_chatroom-message-container" [message]="message"></app-chat-message>
      </ng-container>
    </ng-container>
  </div>
  <app-chat-input class="-sv-chatapp__chat_chatroom-input-container"></app-chat-input>
</ng-template>

<ng-template #noMessages>
  <div class="-sv-chatapp__chat_chatroom-initial-message-container">
    <div class="-sv-chatapp__chat_chatroom-initial-message">
      No Messages
    </div>
  </div>
</ng-template>