<div class="-sv-chatapp__chat_chatroom-list-add-button -sv-chatapp__chat_chatroom-list-item">
  <button class="-sv-chatapp__chat_chatroom-add-chat-button" type="button" (click)="addChatroom()">Add Chat</button>
</div>
<div class="-sv-chatapp__chat_chatroom-list">
  <ng-container *ngFor="let chatroom of chatroomService.chatroomsObservable | async">
    <div class="-sv-chatapp__chat_chatroom-list-item" [routerLink]="['/chat', chatroom.id]">
      <a class="-sv-chatapp__chat_chatroom-item" [routerLink]="['/chat', chatroom.id]">{{ chatroom.name }}</a>
    </div>
  </ng-container>
</div>