<app-navbar class="-sv-chatapp__navbar-container"></app-navbar>

<div class="-sv-chatapp__login-container">
  <div class="-sv-chatapp__login">
    <div class="-sv-chatapp__login_form-wrapper">
      <div class="-sv-chatapp__login_title">Login</div>
      <form class="-sv-chatapp__login_form" [formGroup]="loginForm" (submit)="submit()" novalidate>
        <div class="-sv-chatapp__login_form-group">
          <input class="-sv-chatapp__login_form-control" type="email" id="email-input" placeholder="Email"
            formControlName="email" autocomplete="email" />
        </div>
        <div class="-sv-chatapp__login_form-group">
          <input class="-sv-chatapp__login_form-control" type="password" id="password-input" placeholder="Password"
            formControlName="password" autocomplete="current-password" />
        </div>
        <button class="-sv-chatapp__login_submit-button" type="submit">Submit</button>
      </form>
      <small><a class="-sv-chatapp__login_router-link" routerLink="/signup">Need an Account?</a></small>
    </div>
  </div>
</div>